#title-outer {
    height: 60px;
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: center;
}

#title {
    font-size: xx-large;
}

#section-1 {
    height: 550px;
    background-color: yellow;
    display: flex;
    align-items: center; 
    justify-content: space-around;
}

#side-panel {
    width: 25%;
    height: 550px;
    background-color: lightcyan;
}

#counter-outer {
    width: 100%;
    height: 100px;
    background-color: lightseagreen;
    display: flex;
    align-items: center; 
    justify-content: space-around;
}

.counter {
    width: 38%;
    font-size: larger;
}

#scoreboard {
    width: 100%;
    height: 450px;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.player-outer {
    width: 100%;
    height: 100px;
    background-color: lightskyblue;
    display: flex;
    align-items: center; 
    justify-content: center;
}

.player {
    width: 80%;
    font-size: larger;
}

#gameboard {
    width: 75%;
    height: 550px;
    background-color: aquamarine;
    display: flex;
    align-items: center; 
    justify-content: center;
}

.path-outer {
    margin: 5px;
    width: 40px;
    height: 550px;
    background-color: chocolate;
}

.path-name-outer {
    width: 40px;
    height: 40px;
    background-color: lightcoral;
    display: flex;
    align-items: center; 
    justify-content: center;
}

.path-name {
    font-size: x-large;
}

.path-inner {
    width: 40px;
    height: 510px;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.space {
    width: 30px;
    height: 30px;
    margin: 2px;
    border: 2px solid black;
    border-radius: 100%;
    background-color: pink;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.marker-0 {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: blue;
}

.marker-1 {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: red;
}

.marker-2 {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: green;
}

.marker-3 {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: yellow;
}

.marker-4 {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: blueviolet;
}

.temp {
    opacity: 40%;
}

.singlet-0 {
    position: absolute;
}

.twin-0 {
    position: absolute;
    left: -1px;
}

.twin-1 {
    position: absolute;
    right: -1px;
}

.triplet-0{
    position: absolute;
    top: -3px;
}

.triplet-1{
    position: absolute;
    bottom: 1px;
    left: -1.5px;
}

.triplet-2 {
    position: absolute;
    bottom: 1px;
    right: -1.5px;
}

.quadruplet-0 {
    position: absolute;
    top: -1px;
    left: -1.5px;
}

.quadruplet-1 {
    position: absolute;
    top: -1px;
    right: -1.5px;
}

.quadruplet-2 {
    position: absolute;
    bottom: -1px;
    left: -1.5px;
}

.quadruplet-3 {
    position: absolute;
    bottom: -1px;
    right: -1.5px;
}

.quintuplet-0{
    position: absolute;
    top: -6px;
}

.quintuplet-1{
    position: absolute;
    top: 4px;
    left: -5px;
}

.quintuplet-2{
    position: absolute;
    top: 4px;
    right: -5px;
}

.quintuplet-3{
    position: absolute;
    bottom: -4px;
    left: -1px;
}

.quintuplet-4{
    position: absolute;
    bottom: -4px;
    right: -1px;
}


#feed {
    padding: 5px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.activity-outer {
    margin: 5px;
    height: 30px;
    background-color: greenyellow;
    display: flex;
    align-items: center; 
    justify-content: center;
}

.activity-inner {
    font-size: large;
    display: flex;
    align-items: center; 
}

.button {
    margin: 5px;
}

.dice-1 {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin: 5px;
    background-image: url(assets/icon_dice_1.svg);
    background-size: cover;
}

.dice-2 {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin: 5px;
    background-image: url(assets/icon_dice_2.svg);
    background-size: cover;
}

.dice-3 {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin: 5px;
    background-image: url(assets/icon_dice_3.svg);
    background-size: cover;
}

.dice-4 {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin: 5px;
    background-image: url(assets/icon_dice_4.svg);
    background-size: cover;
}

.dice-5 {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin: 5px;
    background-image: url(assets/icon_dice_5.svg);
    background-size: cover;
}

.dice-6 {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin: 5px;
    background-image: url(assets/icon_dice_6.svg);
    background-size: cover;
}