body {
    margin: 0px;
    padding: 10px;
    background-color: #ecfccb;
    font-family: monospace;
}

.app-mobile {
    display: none;
    background-color: darkgreen;
}

@media (max-width: 640px) {
    .app-pc {
        display: none;
    }
    .app-mobile {
        display: unset;        
    }
}

@media (min-width: 800px) {
    .app-pc {
        width: 800px;
        justify-self: center;
    }
}



.title-outer {
    height: 60px;
    /* background-color: #BED3D4; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: xx-large;
}

#section-1 {
    /* background-color: yellow; */
    display: flex;
    align-items: center; 
    justify-content: space-around;
}

#side-panel {
    width: 35%;
    height: 450px;
}

.counter-outer {
    width: calc(100% - 10px);
    height: 30px;
    margin: 5px;
    border-radius: 15px;
    background-color: #d9f99d;
    display: flex;
    align-items: center; 
    justify-content: space-around;
}

.counter {
    width: 35%;
    font-size: small;
}

.scoreboard {
    width: calc(100% - 10px);
    height: 200px;
    margin: 10px 5px;
    border-radius: 15px;
    background-color: #d9f99d;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: small;
}

.player-outer {
    width: 100%;
    height: 40px;
    /* background-color: lightskyblue; */
    display: flex;
    align-items: center; 
    justify-content: center;
}

.player {
    width: 80%;
}

@media (max-width: 640px) {
    .scoreboard {
        height: auto;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .player-outer {
        width: 140px;
    }
    .player {
        width: 100px;
    }
}

.messages-outer {
    width: calc(100% - 50px);
    height: 180px;
    padding: 20px;
    margin: 10px 5px;
    border-radius: 15px;
    background-color: #d9f99d;
    overflow: auto;
}
.messages {
    font-size: small;
}

.board-outer {
    width: 65%;
    height: 450px;
    display: flex;
    align-items: center; 
    justify-content: center;
}

@media (max-width: 640px) {
    .board-outer {
        width: 100%;
    }
}

.board-inner {
    /* background-color: #E5D67B; */
    display: flex;
    align-items: center; 
}

@media (max-width: 450px) {
    .board-outer {
        height: calc(450px * 0.85);
    }
    .board-inner {
        scale: 85%;
    }
}

@media (max-width: 360px) {
    .board-outer {
        height: calc(450px * 0.75);
    }
    .board-inner {
        scale: 75%;
    }
}

@media (max-width: 300px) {
    .board-outer {
        height: calc(450px * 0.6);
    }
    .board-inner {
        scale: 60%;
    }
}

.path-outer {
    margin: 3px;
    width: 30px;
    height: 440px;
    /* background-color: chocolate; */
}

.path-name-outer {
    width: 30px;
    height: 30px;
    /* background-color: lightcoral; */
    display: flex;
    align-items: center; 
    justify-content: center;
}

.path-name {
    font-size: large;
}

.path-inner {
    width: 30px;
    height: 410px;
    /* background-color: antiquewhite; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.space {
    width: 25px;
    height: 25px;
    border: 2px solid black;
    border-radius: 100%;
    margin: 1px;
    background-color: #f7fee7;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.marker-0 {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background-color: blue;
}

.marker-1 {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background-color: red;
}

.marker-2 {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background-color: green;
}

.marker-3 {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background-color: yellow;
}

.marker-4 {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background-color: blueviolet;
}

.temp {
    opacity: 40%;
}

.marker-1-0 {
    position: absolute;
}

.marker-2-0 {
    position: absolute;
    left: -1px;
}

.marker-2-1 {
    position: absolute;
    right: -1px;
}

.marker-3-0{
    position: absolute;
    top: -3px;
}

.marker-3-1{
    position: absolute;
    bottom: 1px;
    left: -1.5px;
}

.marker-3-2 {
    position: absolute;
    bottom: 1px;
    right: -1.5px;
}

.marker-4-0 {
    position: absolute;
    top: -1px;
    left: -1.5px;
}

.marker-4-1 {
    position: absolute;
    top: -1px;
    right: -1.5px;
}

.marker-4-2 {
    position: absolute;
    bottom: -1px;
    left: -1.5px;
}

.marker-4-3 {
    position: absolute;
    bottom: -1px;
    right: -1.5px;
}

.marker-5-0{
    position: absolute;
    top: -6px;
}

.marker-5-1{
    position: absolute;
    top: 4px;
    left: -5px;
}

.marker-5-2{
    position: absolute;
    top: 4px;
    right: -5px;
}

.marker-5-3{
    position: absolute;
    bottom: -4px;
    left: -1px;
}

.marker-5-4{
    position: absolute;
    bottom: -4px;
    right: -1px;
}


.feed {
    padding: 0px;
    margin: 5px;
    border-radius: 15px;
    background-color: #d9f99d;
    /* background-color: white; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

@media (max-width: 640px) {
    .feed {
        font-size: small;
    }
}

.activity-outer {
    margin: 0px;
    height: 25px;
    display: flex;
    align-items: center; 
    justify-content: center;
}

.activity-inner {
    display: flex;
    align-items: center; 
}

button {
    margin: 5px;
    font-family: monospace;
}

input {
    margin: 5px;
    width: 100px;
    font-family: monospace;
}

@media (max-width: 640px) {
    button {
        font-size: small;
    }
    input {
        font-size: small;
    }
}

.dice-1 {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 3px;
    background-image: url(assets/icon_dice_1.svg);
    background-size: cover;
}

.dice-2 {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 3px;
    background-image: url(assets/icon_dice_2.svg);
    background-size: cover;
}

.dice-3 {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 3px;
    background-image: url(assets/icon_dice_3.svg);
    background-size: cover;
}

.dice-4 {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 3px;
    background-image: url(assets/icon_dice_4.svg);
    background-size: cover;
}

.dice-5 {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 3px;
    background-image: url(assets/icon_dice_5.svg);
    background-size: cover;
}

.dice-6 {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 3px;
    background-image: url(assets/icon_dice_6.svg);
    background-size: cover;
}